.about-container{
    margin: 4rem 6rem;
    text-align: start;

}

.about-container h1{
    padding-bottom: 1rem;
}

.about-container p{
    padding-bottom: 2rem;
}


.faq-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .faq-column {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  
  



   @media screen and (max-width:850px){
    .about-container{
        margin: 4rem 2rem;
    }
}