.destination {
    margin: 4rem 6rem;

}

.destination h1{
    font-size: 3rem;

}

.first-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.first-des-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}


.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
    

}

.des-text h2{
    padding-bottom: 1rem;
}
.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);

}


.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;

}

.destination2 {
    margin: 4rem 6rem;

    
    padding: 25px; /* Ajusta el espaciado interno según sea necesario */
  }
  
  .content-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
  }
  
  .image-container {
    flex: 0.5;
    margin-right: 20px; /* Ajusta el margen entre la imagen y el texto según sea necesario */
  }
  
  .image-container img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    border-radius: 8px; /* Añade bordes redondeados a la imagen */
  }
  
  .text-container {
    flex: 2;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 10px; /* Ajusta el margen inferior del título según sea necesario */
  }
  
  .section-text {
    line-height: 1.5; /* Ajusta la altura de línea según sea necesario */
  }
  

@media screen and (max-width: 850px) {
    .destination{
        margin: 4rem 2rem;

    }
    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }

    .first-des-reverse {
        display: flex;
        flex-direction: column-reverse;
      
        margin-top: 4.5rem;
    }

    .des-text{
        width: 100%;

    }

    .image{
        width: 100%;
        margin: 1.8rem 0;
    }

    .image img{
        height: 250px;
    }
}